// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  green_l5:   #f8fbf4,
  green_l4:   #e8f3db,
  green_l3:   #d1e7b7,
  green_l2:   #b9db93,
  green_l1:   #a2cf6f,
  green_d1:   #7eb63d,
  green_d2:   #70a236,
  green_d3:   #628e2f,
  facebook:   #3b5998
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-title-text-color: #7eb63d; //green_d1
$toolbar-md-background: #f8fbf4;
$tabs-md-tab-icon-color-active: #628e2f;
$tabs-md-tab-icon-color: #b9db93;//l1
$tabs-md-tab-text-color-active:#628e2f;
$tabs-md-tab-text-color:#b9db93;
$tabs-md-background: #f8fbf4;
$label-md-text-color-focused: #7eb63d;
$text-input-md-highlight-color: #7eb63d;
$alert-text-font-size: 12px;
$alert-md-button-text-color: #7eb63d;
$loading-md-spinner-color: #a2cf6f;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
