.md{
  page-user {
    .follow{
      font-size: 1.5em;
    }
    .followers{
      font-size: 3em;
      color: #ea7c33;
    }
  }
  .questions{
    color: #f7d185;
  }
  .upvotes{
    color: #45e0e0;
  }
}
