<ion-header>
  <ion-navbar>
    <ion-title>
    Following Updates
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card  *ngFor="let content of contents; let i=index" >
  <ion-item>
    <ion-row>
      <ion-col col-auto>
    <ion-avatar item-start>
      <img src='http://lorempixel.com/64/64/'/>
    </ion-avatar>
  </ion-col>
  <ion-col col-5>
    <p>{{content.author}}</p>
    <p>reputation: {{content.reputation}}</p>
  </ion-col>
  <ion-col col-2>
    <div [ngSwitch]='content.following'>
      <button *ngSwitchCase="'y'" ion-button small outline color='green_l1'>UNFOLLOW</button>
      <button *ngSwitchCase="'n'" ion-button small outline color='green_l1'>FOLLOW</button>
  </div>
  </ion-col>
  <!--<ion-col col-offset-lg>
    <img src='../assets/imgs/green_circle.png' class='unread'>
  </ion-col>-->
  </ion-row>

  </ion-item>
    <ion-card-content (click)="displayQuestion(i)">
      <div [ngSwitch]='content.type'>
      <ion-note *ngSwitchCase="'Q'">{{content.author}} {{content.activity}} a question.</ion-note>
      <ion-note *ngSwitchCase="'A'">{{content.author}} {{content.activity}} an answer.</ion-note>
    </div>
      <b>{{content.type}}: {{content.title}}</b>
      <p>
      {{content.body}}
     </p>
      </ion-card-content>
  <ion-grid>
     <ion-row>
    <!--  <ion-col col-auto>
        <p class='tags'>Tags</p>
      </ion-col>-->
    <ion-col col-auto *ngFor="let tag of content.tags">
     <button ion-button small outline color='green_l1'>{{tag}}</button>
   </ion-col>
   </ion-row>
  <ion-row>
    <ion-col col-2>
      <button (click)="upvoted(i)" [color]="up_buttonColor[i]" ion-button icon-left clear small >
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{upvotes_without_user[i]+upvote_add[i]}}</div>
      </button>
    </ion-col>
    <ion-col col-2>
      <button (click)="downvoted(i)"  [color]="down_buttonColor[i]" color='green_l1' ion-button icon-left clear small>
        <ion-icon name="thumbs-down"></ion-icon>
        <div>{{downvotes_without_user[i]+downvote_min[i]}}</div>
      </button>
    </ion-col>
    <ion-col col-2>
      <button color='green_l1' [color]="comment_buttonColor" ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{content.comments}}</div>
      </button>
    </ion-col>
    <ion-col col-3>
      <ion-note class='note' >{{content.posted_time}}</ion-note>
    </ion-col>
  </ion-row>
  </ion-grid>
  </ion-card>
<!--<ion-card>
  <ion-item>
    <ion-row>
      <ion-col col-auto>
    <ion-avatar item-start>
      <img src='http://lorempixel.com/64/64/'/>
    </ion-avatar>
  </ion-col>
  <ion-col col-auto>
    <h2> Author</h2>
    <p>Interested in: python/ionic/web</p>
  </ion-col>
<ion-col col-auto>
    <img src='../assets/imgs/green_circle.png' class='unread'>
</ion-col>
  </ion-row>
  </ion-item>
    <ion-card-content>
      <b>A: Using node.js as a simple web server</b>
      <p>
      computer to a URL outside your firewall! Tons of uses. Massive speed up for hybrid mobile devs.
      Cordova + Ionic Framework Developers Local server and auto refresh features are baked into the ionic … tool.
      Just run ionic serve from your app folder. Even better ... ionic serve --lab to view auto refreshing side by
       side views of both iOS and Android. …
     </p>
      </ion-card-content>
<ion-grid>
     <ion-row>
    <ion-col col-auto>
        <p class='tags'>Tags</p>
      </ion-col>
    <ion-col col-3>
     <button ion-button small outline color='green_l1'>python</button>
   </ion-col>
   <ion-col col-2>
    <button ion-button small outline color='green_l1'>ionic</button>
  </ion-col>
   </ion-row>
  <ion-row>
    <ion-col col-2>
      <button color='green_l1' ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>736</div>
      </button>
    </ion-col>
    <ion-col col-2>
      <button color='green_l1' ion-button icon-left clear small>
        <ion-icon name="thumbs-down"></ion-icon>
        <div>23</div>
      </button>
    </ion-col>
    <ion-col col-2>
      <button color='green_l1' ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>4</div>
      </button>
    </ion-col>
    <ion-col col-3>
      <ion-note class='note' >11 hours</ion-note>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-card>-->

</ion-content>
